<app-header></app-header>
<!----End-Header---->
<div class="top-3-grids" *ngIf="this.logedon">
  <h4>Recommended Phones</h4>
  <div class="section group">
    <div class="grid_1_of_3 images_1_of_3">
      <a href="single.html"><img src="{{ this.arrPhonePics[0] }}"></a>
      <h3>{{ this.arrPhoneNames[0] }}</h3>
    </div>
    <div class="grid_1_of_3 images_1_of_3 second">
      <a href="single.html"><img src="{{ this.arrPhonePics[1] }}"></a>
      <h3>{{ this.arrPhoneNames[1] }}</h3>
    </div>
    <div class="grid_1_of_3 images_1_of_3 theree">
      <a href="single.html"><img src="{{ this.arrPhonePics[2] }}"></a>
      <h3>{{ this.arrPhoneNames[2] }}</h3>
    </div>
  </div>
</div>
<!-- List mobiles -->
<div class="content-grids">
  <h4>Deals of the day</h4>
  <div class="section group">
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/196963/samsung-galaxy-a50-black-1-400x460.png">
      <a href="single.html">Điện thoại Samsung Galaxy A50</a>
      <h3>6.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/191483/iphone-xr-128gb-red-400x460.png">
      <a href="single.html">Điện thoại iPhone Xr 128GB</a>
      <h3>19.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/160728/samsung-galaxy-a6-plus-2018-xanh-400x460.png">
      <a href="single.html">Điện thoại Samsung Galaxy A6+ (2018)</a>
      <h3>5.490.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/161554/samsung-galaxy-s10-white-400x460.png">
      <a href="single.html">Điện thoại Samsung Galaxy S10</a>
      <h3>17.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
  </div>
  <div class="section group">
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/190321/iphone-xs-max-gray-400x460.png">
      <a href="single.html">Điện thoại iPhone Xs Max 64GB</a>
      <h3>29.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">
      <a href="single.html">Điện thoại Samsung Galaxy Note 8</a>
      <h3>11.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-1-400x460.png">
      <a href="single.html">Điện thoại iPhone X 64GB</a>
      <h3>21.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://cdn.tgdd.vn/Products/Images/42/198985/huawei-p30-lite-400x460.png">
      <a href="single.html">Điện thoại Huawei P30 Lite</a>
      <h3>6.990.000₫</h3>
      <ul>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
        <li><a class="Wishlist"> </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"> </div>

<!-- Footer -->
<app-footer></app-footer>