<app-header></app-header>
<!----End-Header---->

<!-- List mobiles -->
<div class="content-grids">
  <h4>Deals of the day</h4>
  <div class="section group">
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m1.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$260</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m2.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$150</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m7.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$130</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m4.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$460</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
  </div>
  <div class="section group">
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m2.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$260</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m6.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$100</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m7.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$180</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
    <div class="grid_1_of_4 images_1_of_4 products-info">
      <img src="https://p.w3layouts.com/demos/mobilestore/web/images/m1.jpg">
      <a href="single.html">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
      <h3>$140</h3>
      <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"> </div>

<!-- Footer -->
<app-footer></app-footer>